.gradle
.idea
build/
out/
bin/

# Allow committing VS Code settings for formatter
!.vscode/settings.json
.vscode/

# Lock files of libre office
.~lock.*

# For the Collision Map build
runelite/
cache/
output/
cache.jar
keys.json
cache.zip
