.gradle
.idea
build/
out/
bin/

# Eclipse
.settings/
*.launch
*.project
.classpath

# Lock files of libre office
.~lock.*

# For the Collision Map build
runelite/
cache/
output/
cache.jar
keys.json
cache.zip
