name: Format check
on: [push, pull_request]
jobs:
  spotless:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4

        with:
          distribution: temurin
          java-version: '11'

      - uses: gradle/actions/setup-gradle@v4
      
      - run: ./gradlew --no-daemon spotlessCheck
